.banner{
    margin-top: 60px;
    .img{
        border-radius: 12px;
        overflow: hidden;
        img{
            &:hover{
                transform: scale(1.03);
                transition: 0.3s ease-in-out;
            }
        }
    }
}